logs
*.log
npm-debug.log*

pids
*.pid
*.seed

lib-cov

yarn.lock
yarn-error.log

coverage

.nyc_output

.grunt

.lock-wscript

build/Release

node_modules
jspm_packages
typings

.npm

.node_repl_history